body {
	font-family: 'Arial';
	background-color: floralwhite;
	text-align: center;
	margin: 0 0 0 0;
}

#title {
	background: rgb(153,106,106);
	background: linear-gradient(321deg, rgba(153,106,106,1) 0%, rgba(255,223,223,1) 100%);
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: auto;
	padding-right: auto;
	
	margin: 0% 0% 0% 0%;
	border-width: 0%;
}

#portrait {
	width: 20vh;
	border-radius: 50%;
}

#tableofcontents {
	margin-bottom: 5%;
}

.content {
	text-align: left;
	margin-left: 20vw;
	margin-right: 20vw;
}

h1 { /* Select by element tag */
	color: floralwhite;
	padding-top: 0;
	margin: 0;
	font-size: 7vw;
}

h2 {
	color: rosybrown;
	font-size: 200%;
	font-style: italic;
	text-decoration: underline;
}

h3 {
	color: rosybrown;
	font-size: 100%;
	font-style: italic;
}

p {
	color: dimgrey;
}

ul {
	padding-bottom: 1%;
}

li {
	color: dimgrey;
	font-size: 80%;
	text-align: left;
}

#contact {
	background-color: #2F2F2F;

	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: auto;
	padding-right: auto;

	margin-top: 5%;
}

a:link {
	color: steelblue;
}

a:visited {
	color: steelblue;
}

a:hover {
	color: rosybrown;
}

#contact-links {
	font-size: 2vh;
}
